/*
    Contact list style sheet. Alters the tables displayed for Mobile and Desktop view.
*/

.desktop-view {
    display: block;
}

.mobile-view {
    display: none;
}

@media (max-width: 768px) {
    .desktop-view {
        display: none;
    }

    .mobile-view {
        display: block;
    }

    .update-link {
        text-align: center;
    }
}