@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>What would you like to do?</p>
    <a asp-controller="Pages" asp-action="CreateContact">Create new contact</a>
    <a asp-controller="Pages" asp-action="ViewAllContacts">View all contacts</a>
</div>
